* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
#usersList {
    display: flex;
    justify-content: center;
    align-items: center;
}
#userListContainer {
    display: grid;
    grid-template-columns: repeat(2,30vw);
    grid-template-rows: repeat(5,15vh);
    column-gap: 5vw;
    row-gap: 5vh;
    list-style-type: none;
}
#userListContainer li {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#userListContainer li p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#userListContainer li div{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
#userListContainer li div button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 20px 10px;
    transition: background-color 0.3s, transform 0.2s;
}
#userListContainer li div button:hover {
    background-color: #0056b3;
}

#userListContainer li div button:active {
    transform: scale(0.98);
}
#userListContainer li:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}